
body{
    background-color: #0e0d0c;
    background-image: linear-gradient(#0e0d0c, #0a1424);
    color: white;
}
.fullscreen_panel{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}





.login_panel{
    background-color: #171926;
    /* background-color: #161616; */
    border-radius: 7px;
    padding: 20px 40px 22px 40px;

    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.login_header{
    background-color: #081a41;
    /* background-image: linear-gradient(#1383b5, #0f2556, #101b2f); */
    /* background-image: linear-gradient(#101b2f, #0f2556,  #1383b5); */
    background-image: linear-gradient(#101d2e, #06183c, #0e2455, #144e80, #1483b6);
    width: 100%; 
    height: 64px; 
    border-radius: 7px;
    text-align: center;
}
.login_header_text{
    text-align: center;
}
.longin_logo{
    vertical-align: middle;
    margin-top: 7px;
    margin-left: 15px;
    width: 50px;
    height: 50px;
}
.login_field{
    margin-top: 20px;
    width: 212px;
    height: 35px;
    color: white;
    /* background-color: #2b2b2b; */
    background-color: transparent;
    border-color: #878787;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
}  
.login_field:hover{
    background-color: #a0a0a02f;
}
.login_field:focus{
    background-color: #a0a0a02f;
}
.login_submit{
    margin-top: 35px;
    background-color: #007acc;
    color: white;
    width: 220px;
    height: 35px;
    border-radius: 15px;
    border: 0px;

    -webkit-transition: background-color 80ms linear;
    -ms-transition: background-color 80ms linear;
    transition: background-color 80ms linear;
}
.login_submit:hover{
    background-color: #008eee;
}
.login_submit:active{
    background-color: #a3daff;
}
.login_submit:disabled{
    background-color: #002c49;
}
.login_NOTE{
    color: red;
}
.login_disclaimer{
    margin-top: 80px;
    width: 220px;
    color: gray;
    font-size: small;
}
.block{
    display: block;
}





.error_panel{
    position: absolute;
    bottom: 100px;
    left: 0px;
    right: 0px;
    text-align: center;
}
.error_item{
    width: 300px;
    /* border: red solid 5px; */
    border-radius: 18px;
    background-color: rgb(192, 0, 0);
    margin: 5px auto;
    padding: 10px 80px;
    color: white;
    animation: hideMe 5s forwards;
}
.error_item_success{
    width: 300px;
    /* border: red solid 5px; */
    border-radius: 18px;
    background-color: rgb(0, 192, 0);
    margin: 5px auto;
    padding: 10px 80px;
    color: white;
    animation: hideMe 5s forwards;
}
@keyframes hideMe{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.85;
    }
    100%{
        opacity: 0;
    }
}




.loading_panel{

    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.loader{
    width: 128px;
    height: 128px;
    animation: spin 8000ms linear infinite;
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}



.browser{
    padding: 20px;
}
.browser_header{
    float:right;
    margin-top: 40px;
    height: 40px;
}
.browser_filter_panel{
    float: left;
    width: 300px;
}
.browser_gallery_panel{
    float: right;
}
.browser_item_tile{
    background-color: #171926;
    border-radius: 6px;
    margin: 10px;
    height: 200px;
    width: 150px;
    display: inline-block;
}
.browser_item_preview{
    display: block;
    height: 150px;
    width: 150px;
}
.browser_item_title{
    margin: 8px 5px 0px 5px;
    display: block;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.browser_item_stats_bar{
    margin: 0px 5px;
}
.browser_item_icon{
    vertical-align:middle;
    height: 16px;
    width: 16px;
}
.browser_item_stat{
    height: 16px;
    width: 34px;
    margin-left: 4px;
    font-size: small;
    color: gray;
    display: inline-block;
}

